body{
margin:0px;
}

a{
text-decoration:none;
font-family:"Arial";
}

.clear{
clear:both;
}

#menus{
margin:10px;
}

.menu{
width:100px;
float:left;
text-align:center;
position:relative;
}

.link_menu{
font-size:16px;
color:white;
display:block;
padding:5px;
background:#006699;
}

.link_menu:hover{
background:#B2B2D9;
color:#006699;
}

.sub_menu{
display:none;
width:100px;
position:absolute;
}

.link_sub_menu{
font-size:12px;
color:white;
display:block;
padding:5px;
background:#0099cc;
}

.link_sub_menu:hover{
background:#005C7A;
}
